<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuhu.store.saas.marketing.mysql.marketing.write.dao.ActivityTemplateMapper">
  <resultMap id="BaseResultMap" type="com.tuhu.store.saas.marketing.po.ActivityTemplate">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="activity_title" jdbcType="VARCHAR" property="activityTitle" />
    <result column="activity_introduce" jdbcType="VARCHAR" property="activityIntroduce" />
    <result column="apply_number" jdbcType="BIGINT" property="applyNumber" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="refence_number" jdbcType="BIGINT" property="refenceNumber" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="tagString" jdbcType="VARCHAR" property="tagstring" />
    <result column="activity_content" jdbcType="VARCHAR" property="activityContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, code, `type`, pic_url, activity_title, activity_introduce, apply_number, `status`, 
    refence_number, update_user, create_user, create_time, update_time, tagString, activity_content
  </sql>
  <select id="selectByExample" parameterType="com.tuhu.store.saas.marketing.po.ActivityTemplateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activity_template
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from activity_template
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tuhu.store.saas.marketing.po.ActivityTemplateExample">
    delete from activity_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tuhu.store.saas.marketing.po.ActivityTemplate">
    insert into activity_template (id, code, `type`, 
      pic_url, activity_title, activity_introduce, 
      apply_number, `status`, refence_number, 
      update_user, create_user, create_time, 
      update_time, tagString, activity_content
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{picUrl,jdbcType=VARCHAR}, #{activityTitle,jdbcType=VARCHAR}, #{activityIntroduce,jdbcType=VARCHAR}, 
      #{applyNumber,jdbcType=BIGINT}, #{status,jdbcType=BIT}, #{refenceNumber,jdbcType=BIGINT}, 
      #{updateUser,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{tagstring,jdbcType=VARCHAR}, #{activityContent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tuhu.store.saas.marketing.po.ActivityTemplate">
    insert into activity_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="activityTitle != null">
        activity_title,
      </if>
      <if test="activityIntroduce != null">
        activity_introduce,
      </if>
      <if test="applyNumber != null">
        apply_number,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="refenceNumber != null">
        refence_number,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="tagstring != null">
        tagString,
      </if>
      <if test="activityContent != null">
        activity_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="activityTitle != null">
        #{activityTitle,jdbcType=VARCHAR},
      </if>
      <if test="activityIntroduce != null">
        #{activityIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="applyNumber != null">
        #{applyNumber,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="refenceNumber != null">
        #{refenceNumber,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tagstring != null">
        #{tagstring,jdbcType=VARCHAR},
      </if>
      <if test="activityContent != null">
        #{activityContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tuhu.store.saas.marketing.po.ActivityTemplateExample" resultType="java.lang.Integer">
    select count(*) from activity_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update activity_template
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.picUrl != null">
        pic_url = #{record.picUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.activityTitle != null">
        activity_title = #{record.activityTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.activityIntroduce != null">
        activity_introduce = #{record.activityIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.applyNumber != null">
        apply_number = #{record.applyNumber,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.refenceNumber != null">
        refence_number = #{record.refenceNumber,jdbcType=BIGINT},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tagstring != null">
        tagString = #{record.tagstring,jdbcType=VARCHAR},
      </if>
      <if test="record.activityContent != null">
        activity_content = #{record.activityContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update activity_template
    set id = #{record.id,jdbcType=BIGINT},
      code = #{record.code,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=TINYINT},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      activity_title = #{record.activityTitle,jdbcType=VARCHAR},
      activity_introduce = #{record.activityIntroduce,jdbcType=VARCHAR},
      apply_number = #{record.applyNumber,jdbcType=BIGINT},
      `status` = #{record.status,jdbcType=BIT},
      refence_number = #{record.refenceNumber,jdbcType=BIGINT},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      tagString = #{record.tagstring,jdbcType=VARCHAR},
      activity_content = #{record.activityContent,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tuhu.store.saas.marketing.po.ActivityTemplate">
    update activity_template
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="activityTitle != null">
        activity_title = #{activityTitle,jdbcType=VARCHAR},
      </if>
      <if test="activityIntroduce != null">
        activity_introduce = #{activityIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="applyNumber != null">
        apply_number = #{applyNumber,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BIT},
      </if>
      <if test="refenceNumber != null">
        refence_number = #{refenceNumber,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tagstring != null">
        tagString = #{tagstring,jdbcType=VARCHAR},
      </if>
      <if test="activityContent != null">
        activity_content = #{activityContent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tuhu.store.saas.marketing.po.ActivityTemplate">
    update activity_template
    set code = #{code,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=TINYINT},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      activity_title = #{activityTitle,jdbcType=VARCHAR},
      activity_introduce = #{activityIntroduce,jdbcType=VARCHAR},
      apply_number = #{applyNumber,jdbcType=BIGINT},
      `status` = #{status,jdbcType=BIT},
      refence_number = #{refenceNumber,jdbcType=BIGINT},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      tagString = #{tagstring,jdbcType=VARCHAR},
      activity_content = #{activityContent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="referById" parameterType="long">
    update activity_template
    set refence_number = refence_number + 1
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>