<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuhu.store.saas.marketing.mysql.marketing.write.dao.CouponMapper" >
  <resultMap id="BaseResultMap" type="com.tuhu.store.saas.marketing.dataobject.Coupon" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="encrypted_code" property="encryptedCode" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="tenant_id" property="tenantId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="validity_type" property="validityType" jdbcType="TINYINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="condition_limit" property="conditionLimit" jdbcType="DECIMAL" />
    <result column="content_value" property="contentValue" jdbcType="DECIMAL" />
    <result column="discount_value" property="discountValue" jdbcType="DECIMAL" />
    <result column="use_start_time" property="useStartTime" jdbcType="TIMESTAMP" />
    <result column="use_end_time" property="useEndTime" jdbcType="TIMESTAMP" />
    <result column="relative_days_num" property="relativeDaysNum" jdbcType="INTEGER" />
    <result column="grant_number" property="grantNumber" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="allow_get" property="allowGet" jdbcType="TINYINT" />
    <result column="scope_type" property="scopeType" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="weixin_qr_url" property="weixinQrUrl" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, code, encrypted_code, store_id, tenant_id, type, validity_type, title, condition_limit, 
    content_value, discount_value, use_start_time, use_end_time, relative_days_num, grant_number, 
    status, allow_get, scope_type, remark, weixin_qr_url, create_user, update_user, create_time, 
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tuhu.store.saas.marketing.dataobject.CouponExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from coupon
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from coupon
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tuhu.store.saas.marketing.dataobject.CouponExample" >
    delete from coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tuhu.store.saas.marketing.dataobject.Coupon" >
    insert into coupon (id, code, encrypted_code, 
      store_id, tenant_id, type, 
      validity_type, title, condition_limit, 
      content_value, discount_value, use_start_time, 
      use_end_time, relative_days_num, grant_number, 
      status, allow_get, scope_type, 
      remark, weixin_qr_url, create_user, 
      update_user, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{encryptedCode,jdbcType=VARCHAR}, 
      #{storeId,jdbcType=BIGINT}, #{tenantId,jdbcType=BIGINT}, #{type,jdbcType=TINYINT}, 
      #{validityType,jdbcType=TINYINT}, #{title,jdbcType=VARCHAR}, #{conditionLimit,jdbcType=DECIMAL}, 
      #{contentValue,jdbcType=DECIMAL}, #{discountValue,jdbcType=DECIMAL}, #{useStartTime,jdbcType=TIMESTAMP}, 
      #{useEndTime,jdbcType=TIMESTAMP}, #{relativeDaysNum,jdbcType=INTEGER}, #{grantNumber,jdbcType=BIGINT}, 
      #{status,jdbcType=TINYINT}, #{allowGet,jdbcType=TINYINT}, #{scopeType,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR}, #{weixinQrUrl,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tuhu.store.saas.marketing.dataobject.Coupon" >
    insert into coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="encryptedCode != null" >
        encrypted_code,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="validityType != null" >
        validity_type,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="conditionLimit != null" >
        condition_limit,
      </if>
      <if test="contentValue != null" >
        content_value,
      </if>
      <if test="discountValue != null" >
        discount_value,
      </if>
      <if test="useStartTime != null" >
        use_start_time,
      </if>
      <if test="useEndTime != null" >
        use_end_time,
      </if>
      <if test="relativeDaysNum != null" >
        relative_days_num,
      </if>
      <if test="grantNumber != null" >
        grant_number,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="allowGet != null" >
        allow_get,
      </if>
      <if test="scopeType != null" >
        scope_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="weixinQrUrl != null" >
        weixin_qr_url,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="encryptedCode != null" >
        #{encryptedCode,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="validityType != null" >
        #{validityType,jdbcType=TINYINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="conditionLimit != null" >
        #{conditionLimit,jdbcType=DECIMAL},
      </if>
      <if test="contentValue != null" >
        #{contentValue,jdbcType=DECIMAL},
      </if>
      <if test="discountValue != null" >
        #{discountValue,jdbcType=DECIMAL},
      </if>
      <if test="useStartTime != null" >
        #{useStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useEndTime != null" >
        #{useEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relativeDaysNum != null" >
        #{relativeDaysNum,jdbcType=INTEGER},
      </if>
      <if test="grantNumber != null" >
        #{grantNumber,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="allowGet != null" >
        #{allowGet,jdbcType=TINYINT},
      </if>
      <if test="scopeType != null" >
        #{scopeType,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="weixinQrUrl != null" >
        #{weixinQrUrl,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tuhu.store.saas.marketing.dataobject.CouponExample" resultType="java.lang.Integer" >
    select count(*) from coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update coupon
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.encryptedCode != null" >
        encrypted_code = #{record.encryptedCode,jdbcType=VARCHAR},
      </if>
      <if test="record.storeId != null" >
        store_id = #{record.storeId,jdbcType=BIGINT},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.validityType != null" >
        validity_type = #{record.validityType,jdbcType=TINYINT},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.conditionLimit != null" >
        condition_limit = #{record.conditionLimit,jdbcType=DECIMAL},
      </if>
      <if test="record.contentValue != null" >
        content_value = #{record.contentValue,jdbcType=DECIMAL},
      </if>
      <if test="record.discountValue != null" >
        discount_value = #{record.discountValue,jdbcType=DECIMAL},
      </if>
      <if test="record.useStartTime != null" >
        use_start_time = #{record.useStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.useEndTime != null" >
        use_end_time = #{record.useEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.relativeDaysNum != null" >
        relative_days_num = #{record.relativeDaysNum,jdbcType=INTEGER},
      </if>
      <if test="record.grantNumber != null" >
        grant_number = #{record.grantNumber,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.allowGet != null" >
        allow_get = #{record.allowGet,jdbcType=TINYINT},
      </if>
      <if test="record.scopeType != null" >
        scope_type = #{record.scopeType,jdbcType=TINYINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.weixinQrUrl != null" >
        weixin_qr_url = #{record.weixinQrUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update coupon
    set id = #{record.id,jdbcType=BIGINT},
    code = #{record.code,jdbcType=VARCHAR},
    encrypted_code = #{record.encryptedCode,jdbcType=VARCHAR},
    store_id = #{record.storeId,jdbcType=BIGINT},
    tenant_id = #{record.tenantId,jdbcType=BIGINT},
    type = #{record.type,jdbcType=TINYINT},
    validity_type = #{record.validityType,jdbcType=TINYINT},
    title = #{record.title,jdbcType=VARCHAR},
    condition_limit = #{record.conditionLimit,jdbcType=DECIMAL},
    content_value = #{record.contentValue,jdbcType=DECIMAL},
    discount_value = #{record.discountValue,jdbcType=DECIMAL},
    use_start_time = #{record.useStartTime,jdbcType=TIMESTAMP},
    use_end_time = #{record.useEndTime,jdbcType=TIMESTAMP},
    relative_days_num = #{record.relativeDaysNum,jdbcType=INTEGER},
    grant_number = #{record.grantNumber,jdbcType=BIGINT},
    status = #{record.status,jdbcType=TINYINT},
    allow_get = #{record.allowGet,jdbcType=TINYINT},
    scope_type = #{record.scopeType,jdbcType=TINYINT},
    remark = #{record.remark,jdbcType=VARCHAR},
    weixin_qr_url = #{record.weixinQrUrl,jdbcType=VARCHAR},
    create_user = #{record.createUser,jdbcType=VARCHAR},
    update_user = #{record.updateUser,jdbcType=VARCHAR},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tuhu.store.saas.marketing.dataobject.Coupon" >
    update coupon
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="encryptedCode != null" >
        encrypted_code = #{encryptedCode,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="validityType != null" >
        validity_type = #{validityType,jdbcType=TINYINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="conditionLimit != null" >
        condition_limit = #{conditionLimit,jdbcType=DECIMAL},
      </if>
      <if test="contentValue != null" >
        content_value = #{contentValue,jdbcType=DECIMAL},
      </if>
      <if test="discountValue != null" >
        discount_value = #{discountValue,jdbcType=DECIMAL},
      </if>
      <if test="useStartTime != null" >
        use_start_time = #{useStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useEndTime != null" >
        use_end_time = #{useEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relativeDaysNum != null" >
        relative_days_num = #{relativeDaysNum,jdbcType=INTEGER},
      </if>
      <if test="grantNumber != null" >
        grant_number = #{grantNumber,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="allowGet != null" >
        allow_get = #{allowGet,jdbcType=TINYINT},
      </if>
      <if test="scopeType != null" >
        scope_type = #{scopeType,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="weixinQrUrl != null" >
        weixin_qr_url = #{weixinQrUrl,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tuhu.store.saas.marketing.dataobject.Coupon" >
    update coupon
    set code = #{code,jdbcType=VARCHAR},
      encrypted_code = #{encryptedCode,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=BIGINT},
      tenant_id = #{tenantId,jdbcType=BIGINT},
      type = #{type,jdbcType=TINYINT},
      validity_type = #{validityType,jdbcType=TINYINT},
      title = #{title,jdbcType=VARCHAR},
      condition_limit = #{conditionLimit,jdbcType=DECIMAL},
      content_value = #{contentValue,jdbcType=DECIMAL},
      discount_value = #{discountValue,jdbcType=DECIMAL},
      use_start_time = #{useStartTime,jdbcType=TIMESTAMP},
      use_end_time = #{useEndTime,jdbcType=TIMESTAMP},
      relative_days_num = #{relativeDaysNum,jdbcType=INTEGER},
      grant_number = #{grantNumber,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      allow_get = #{allowGet,jdbcType=TINYINT},
      scope_type = #{scopeType,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      weixin_qr_url = #{weixinQrUrl,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByCouponCode" resultType="com.tuhu.store.saas.marketing.dataobject.Coupon" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from coupon
    where code = #{code,jdbcType=BIGINT}
  </select>

  <select id="selectByEncryptedCode" resultType="com.tuhu.store.saas.marketing.dataobject.Coupon" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from coupon
    where encrypted_code = #{encryptedCode,jdbcType=BIGINT}
  </select>
</mapper>