<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuhu.store.saas.marketing.mysql.marketing.write.dao.CustomerGroupRuleMapper" >
  <resultMap id="BaseResultMap" type="com.tuhu.store.saas.marketing.dataobject.CustomerGroupRule" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cg_rule_factor" property="cgRuleFactor" jdbcType="VARCHAR" />
    <result column="cg_rule_name" property="cgRuleName" jdbcType="VARCHAR" />
    <result column="attribute_name" property="attributeName" jdbcType="VARCHAR" />
    <result column="attribute_value" property="attributeValue" jdbcType="VARCHAR" />
    <result column="compare_operator" property="compareOperator" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cg_rule_factor, cg_rule_name, attribute_name, attribute_value, compare_operator, status, group_id,store_id,create_user,
    update_user, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tuhu.store.saas.marketing.dataobject.CustomerGroupRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customer_group_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from customer_group_rule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from customer_group_rule
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tuhu.store.saas.marketing.dataobject.CustomerGroupRuleExample" >
    delete from customer_group_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.tuhu.store.saas.marketing.dataobject.CustomerGroupRule" >
    insert into customer_group_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cgRuleFactor != null" >
        cg_rule_factor,
      </if>
      <if test="cgRuleName != null" >
        cg_rule_name,
      </if>
      <if test="attributeName != null" >
         attribute_name,
      </if>
      <if test="attributeValue != null" >
        attribute_value,
      </if>
      <if test="compareOperator != null" >
        compare_operator,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cgRuleFactor != null" >
        #{cgRuleFactor,jdbcType=VARCHAR},
      </if>
      <if test="cgRuleName != null" >
        #{cgRuleName,jdbcType=VARCHAR},
      </if>
      <if test="attributeName != null" >
        #{attributeName,jdbcType=TINYINT},
      </if>
      <if test="attributeValue != null" >
        #{attributeValue,jdbcType=VARCHAR},
      </if>
      <if test="compareOperator != null" >
        #{compareOperator,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <select id="countByExample" parameterType="com.tuhu.store.saas.marketing.dataobject.CustomerGroupRuleExample" resultType="java.lang.Integer" >
    select count(*) from customer_group_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update customer_group_rule
    <set >
      <if test="record.cgRuleFactor != null" >
        cg_rule_factor = #{record.cgRuleFactor,jdbcType=VARCHAR},
      </if>
      <if test="record.cgRuleName != null" >
        cg_rule_name = #{record.cgRuleName,jdbcType=VARCHAR},
      </if>
      <if test="record.attributeName != null" >
        attribute_name = #{record.attributeName,jdbcType=VARCHAR},
      </if>
      <if test="record.attributeValue != null" >
        attribute_value = #{record.attributeValue,jdbcType=VARCHAR},
      </if>
      <if test="record.compareOperator != null" >
        compare_operator = #{record.compareOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.groupId != null" >
        group_id = #{record.groupId,jdbcType=BIGINT},
      </if>
      <if test="record.storeId != null" >
        store_id = #{record.storeId,jdbcType=BIGINT},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.tuhu.store.saas.marketing.dataobject.CustomerGroupRule" >
    update customer_group_rule
    <set >
      <if test="cgRuleFactor != null" >
        cg_rule_factor = #{cgRuleFactor,jdbcType=VARCHAR},
      </if>
      <if test="cgRuleName != null" >
        cg_rule_name = #{cgRuleName,jdbcType=VARCHAR},
      </if>
      <if test="attributeName != null" >
        attribute_name = #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="attributeValue != null" >
        attribute_value = #{attributeValue,jdbcType=VARCHAR},
      </if>
      <if test="compareOperator != null" >
        compare_operator = #{compareOperator,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertBatch" parameterType="java.util.List" >
    insert into customer_group_rule ( cg_rule_factor, cg_rule_name,
    attribute_name, attribute_value, compare_operator,status,group_id,store_id,
    create_user, create_time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.cgRuleFactor,jdbcType=VARCHAR}, #{item.cgRuleName,jdbcType=VARCHAR},
      #{item.attributeName,jdbcType=VARCHAR}, #{item.attributeValue,jdbcType=VARCHAR},
      #{item.compareOperator,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR},
      #{item.groupId,jdbcType=BIGINT}, #{item.storeId,jdbcType=BIGINT},
      #{item.createUser,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP}
     )
    </foreach>
  </insert>
</mapper>
