<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuhu.store.saas.marketing.mysql.marketing.write.dao.MessageTemplateLocalMapper" >
    <resultMap id="BaseResultMap" type="com.tuhu.store.saas.marketing.dataobject.MessageTemplateLocal" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="template_code" property="templateCode" jdbcType="VARCHAR" />
        <result column="template_id" property="templateId" jdbcType="VARCHAR" />
        <result column="template_name" property="templateName" jdbcType="VARCHAR" />
        <result column="template_type" property="templateType" jdbcType="VARCHAR" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />
        <result column="original_template_id" property="originalTemplateId" jdbcType="BIGINT" />
        <result column="store_id" property="storeId" jdbcType="BIGINT" />
        <result column="tenant_id" property="tenantId" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.tuhu.store.saas.marketing.dataobject.MessageTemplateLocal" extends="BaseResultMap" >
        <result column="template_content" property="templateContent" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
    id, template_code, template_id, template_name, template_type, comment, original_template_id,
    store_id, tenant_id, create_user, update_user, type, create_time, update_time, is_delete
  </sql>
    <sql id="Blob_Column_List" >
    template_content
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.tuhu.store.saas.marketing.dataobject.MessageTemplateLocalExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from message_template_local
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tuhu.store.saas.marketing.dataobject.MessageTemplateLocalExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from message_template_local
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
        <if test="limit != null" >
            <if test="offset != null" >
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null" >
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from message_template_local
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from message_template_local
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.tuhu.store.saas.marketing.dataobject.MessageTemplateLocalExample" >
        delete from message_template_local
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.tuhu.store.saas.marketing.dataobject.MessageTemplateLocal" >
    insert into message_template_local (id, template_code, template_id,
      template_name, template_type, comment,
      original_template_id, store_id, tenant_id,
      create_user, update_user, type, create_time,
      update_time, is_delete, template_content
      )
    values (#{id,jdbcType=VARCHAR}, #{templateCode,jdbcType=VARCHAR}, #{templateId,jdbcType=VARCHAR},
      #{templateName,jdbcType=VARCHAR}, #{templateType,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR},
      #{originalTemplateId,jdbcType=BIGINT}, #{storeId,jdbcType=BIGINT}, #{tenantId,jdbcType=BIGINT},
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=TINYINT}, #{templateContent,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.tuhu.store.saas.marketing.dataobject.MessageTemplateLocal" >
        insert into message_template_local
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="templateCode != null" >
                template_code,
            </if>
            <if test="templateId != null" >
                template_id,
            </if>
            <if test="templateName != null" >
                template_name,
            </if>
            <if test="templateType != null" >
                template_type,
            </if>
            <if test="comment != null" >
                comment,
            </if>
            <if test="originalTemplateId != null" >
                original_template_id,
            </if>
            <if test="storeId != null" >
                store_id,
            </if>
            <if test="tenantId != null" >
                tenant_id,
            </if>
            <if test="createUser != null" >
                create_user,
            </if>
            <if test="updateUser != null" >
                update_user,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="isDelete != null" >
                is_delete,
            </if>
            <if test="templateContent != null" >
                template_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="templateCode != null" >
                #{templateCode,jdbcType=VARCHAR},
            </if>
            <if test="templateId != null" >
                #{templateId,jdbcType=VARCHAR},
            </if>
            <if test="templateName != null" >
                #{templateName,jdbcType=VARCHAR},
            </if>
            <if test="templateType != null" >
                #{templateType,jdbcType=VARCHAR},
            </if>
            <if test="comment != null" >
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="originalTemplateId != null" >
                #{originalTemplateId,jdbcType=BIGINT},
            </if>
            <if test="storeId != null" >
                #{storeId,jdbcType=BIGINT},
            </if>
            <if test="tenantId != null" >
                #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="createUser != null" >
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null" >
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null" >
                #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="templateContent != null" >
                #{templateContent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.tuhu.store.saas.marketing.dataobject.MessageTemplateLocalExample" resultType="java.lang.Integer" >
        select count(*) from message_template_local
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update message_template_local
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.templateCode != null" >
                template_code = #{record.templateCode,jdbcType=VARCHAR},
            </if>
            <if test="record.templateId != null" >
                template_id = #{record.templateId,jdbcType=VARCHAR},
            </if>
            <if test="record.templateName != null" >
                template_name = #{record.templateName,jdbcType=VARCHAR},
            </if>
            <if test="record.templateType != null" >
                template_type = #{record.templateType,jdbcType=VARCHAR},
            </if>
            <if test="record.comment != null" >
                comment = #{record.comment,jdbcType=VARCHAR},
            </if>
            <if test="record.originalTemplateId != null" >
                original_template_id = #{record.originalTemplateId,jdbcType=BIGINT},
            </if>
            <if test="record.storeId != null" >
                store_id = #{record.storeId,jdbcType=BIGINT},
            </if>
            <if test="record.tenantId != null" >
                tenant_id = #{record.tenantId,jdbcType=BIGINT},
            </if>
            <if test="record.createUser != null" >
                create_user = #{record.createUser,jdbcType=VARCHAR},
            </if>
            <if test="record.updateUser != null" >
                update_user = #{record.updateUser,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null" >
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isDelete != null" >
                is_delete = #{record.isDelete,jdbcType=TINYINT},
            </if>
            <if test="record.templateContent != null" >
                template_content = #{record.templateContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map" >
        update message_template_local
        set id = #{record.id,jdbcType=VARCHAR},
        template_code = #{record.templateCode,jdbcType=VARCHAR},
        template_id = #{record.templateId,jdbcType=VARCHAR},
        template_name = #{record.templateName,jdbcType=VARCHAR},
        template_type = #{record.templateType,jdbcType=VARCHAR},
        comment = #{record.comment,jdbcType=VARCHAR},
        original_template_id = #{record.originalTemplateId,jdbcType=BIGINT},
        store_id = #{record.storeId,jdbcType=BIGINT},
        tenant_id = #{record.tenantId,jdbcType=BIGINT},
        create_user = #{record.createUser,jdbcType=VARCHAR},
        update_user = #{record.updateUser,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        is_delete = #{record.isDelete,jdbcType=TINYINT},
        template_content = #{record.templateContent,jdbcType=LONGVARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update message_template_local
        set id = #{record.id,jdbcType=VARCHAR},
        template_code = #{record.templateCode,jdbcType=VARCHAR},
        template_id = #{record.templateId,jdbcType=VARCHAR},
        template_name = #{record.templateName,jdbcType=VARCHAR},
        template_type = #{record.templateType,jdbcType=VARCHAR},
        comment = #{record.comment,jdbcType=VARCHAR},
        original_template_id = #{record.originalTemplateId,jdbcType=BIGINT},
        store_id = #{record.storeId,jdbcType=BIGINT},
        tenant_id = #{record.tenantId,jdbcType=BIGINT},
        create_user = #{record.createUser,jdbcType=VARCHAR},
        update_user = #{record.updateUser,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        is_delete = #{record.isDelete,jdbcType=TINYINT}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.tuhu.store.saas.marketing.dataobject.MessageTemplateLocal" >
        update message_template_local
        <set >
            <if test="templateCode != null" >
                template_code = #{templateCode,jdbcType=VARCHAR},
            </if>
            <if test="templateId != null" >
                template_id = #{templateId,jdbcType=VARCHAR},
            </if>
            <if test="templateName != null" >
                template_name = #{templateName,jdbcType=VARCHAR},
            </if>
            <if test="templateType != null" >
                template_type = #{templateType,jdbcType=VARCHAR},
            </if>
            <if test="comment != null" >
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="originalTemplateId != null" >
                original_template_id = #{originalTemplateId,jdbcType=BIGINT},
            </if>
            <if test="storeId != null" >
                store_id = #{storeId,jdbcType=BIGINT},
            </if>
            <if test="tenantId != null" >
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="createUser != null" >
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null" >
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null" >
                is_delete = #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="templateContent != null" >
                template_content = #{templateContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tuhu.store.saas.marketing.dataobject.MessageTemplateLocal" >
    update message_template_local
    set template_code = #{templateCode,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=VARCHAR},
      template_name = #{templateName,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      original_template_id = #{originalTemplateId,jdbcType=BIGINT},
      store_id = #{storeId,jdbcType=BIGINT},
      tenant_id = #{tenantId,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT},
      template_content = #{templateContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.tuhu.store.saas.marketing.dataobject.MessageTemplateLocal" >
    update message_template_local
    set template_code = #{templateCode,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=VARCHAR},
      template_name = #{templateName,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      original_template_id = #{originalTemplateId,jdbcType=BIGINT},
      store_id = #{storeId,jdbcType=BIGINT},
      tenant_id = #{tenantId,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="selectByIdAndTenantId" resultMap="ResultMapWithBLOBs" >
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from message_template_local
        where id = #{id,jdbcType=VARCHAR}
        and is_delete = false

    </select>
</mapper>
