<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuhu.store.saas.marketing.mysql.marketing.write.dao.SeckillActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tuhu.store.saas.marketing.dataobject.SeckillActivity">
        <id column="id" property="id" />
        <result column="head_image" property="headImage" />
        <result column="cad_card_expiry_date_type" property="cadCardExpiryDateType" />
        <result column="cad_card_expiry_date_time" property="cadCardExpiryDateTime" />
        <result column="cad_card_expiry_date_day" property="cadCardExpiryDateDay" />
        <result column="sell_number_type" property="sellNumberType" />
        <result column="sell_number" property="sellNumber" />
        <result column="solo_sell_number_type" property="soloSellNumberType" />
        <result column="solo_sell_number" property="soloSellNumber" />
        <result column="original_price" property="originalPrice" />
        <result column="new_price" property="newPrice" />
        <result column="tenant_id" property="tenantId" />
        <result column="store_id" property="storeId" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="status" property="status" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="activity_title" property="activityTitle" />
        <result column="template_id" property="templateId" />
        <result column="cad_card_template_id" property="cadCardTemplateId" />

    </resultMap>

    <update id="autoUpdateOffShelf">
        update seckill_activity
        set
        status = 9 ,
        update_time = now(),
        update_user = 'autoUpdateOffShelf'
        where 1=1
        and status != 9
        and end_time <![CDATA[  < ]]> now()
    </update>

    <select id="pageList" resultMap="BaseResultMap">
        select
        id,tenant_id,store_id,create_user,update_user,update_time,is_delete,end_time,start_time,status,activity_title,
        head_image,cad_card_expiry_date_type,cad_card_expiry_date_time,cad_card_expiry_date_day,sell_number_type,
        sell_number,solo_sell_number_type,solo_sell_number,original_price,new_price,template_id,cad_card_template_id
        from seckill_activity
        where
        1=1
        and is_delete = 0
        and store_id = #{storeId}
        and tenant_id = #{tenantId}
        <if test="status != null and status == 0 ">
            and status != 9
            and start_time > now()
        </if>
        <if test="status != null and status == 1 ">
            and status != 9
            and start_time <![CDATA[<=]]> now() and end_time > now()
        </if>
        <if test="status != null and status == 9 ">
            and (end_time <![CDATA[<]]> now() OR status = 9)
        </if>
        <if test="status != null and status == -1 ">
            and ((start_time <![CDATA[<=]]> now() and end_time > now() and status != 9 ) OR (start_time > now() and status != 9))
        </if>
        <if test="activityTitle != null">
            and activity_title like CONCAT('%',#{activityTitle},'%')
        </if>
        order by update_time desc
    </select>

</mapper>
