<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuhu.store.saas.marketing.mysql.marketing.write.dao.SeckillRegistrationRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tuhu.store.saas.marketing.dataobject.SeckillRegistrationRecord">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="store_id" property="storeId" />
        <result column="tenant_id" property="tenantId" />
        <result column="seckill_activity_id" property="seckillActivityId" />
        <result column="seckill_activity_name" property="seckillActivityName" />
        <result column="customer_id" property="customerId" />
        <result column="customer_name" property="customerName" />
        <result column="is_new_customer" property="isNewCustomer" />
        <result column="buyer_phone_number" property="buyerPhoneNumber" />
        <result column="user_phone_number" property="userPhoneNumber" />
        <result column="vehicle_number" property="vehicleNumber" />
        <result column="unit_price" property="unitPrice" />
        <result column="quantity" property="quantity" />
        <result column="expect_amount" property="expectAmount" />
        <result column="register_time" property="registerTime" />
        <result column="effective_time" property="effectiveTime" />
        <result column="payment_time" property="paymentTime" />
        <result column="usage_status" property="usageStatus" />
        <result column="pay_status" property="payStatus" />
        <result column="payment_mode_code" property="paymentModeCode" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <select id="pageBuyList" resultMap="BaseResultMap">
        SELECT
        store_id,tenant_id,seckill_activity_id,customer_id,customer_name,buyer_phone_number,
        count(1) as quantity,sum(expect_amount) as expect_amount,max(is_new_customer) as is_new_customer
        FROM seckill_registration_record
        WHERE
        1=1
        AND is_delete = 0
        AND pay_status = 1
        AND store_id = #{storeId}
        AND tenant_id = #{tenantId}
        AND seckill_activity_id = #{seckillActivityId}
        <if test="phone != null and phone != ''">
            and buyer_phone_number like CONCAT('%',#{phone},'%')
        </if>
        group by store_id,tenant_id,seckill_activity_id,customer_id,customer_name,buyer_phone_number
        order by payment_time desc
    </select>

    <select id="dataStatistics" resultMap="BaseResultMap">
        SELECT
        store_id,tenant_id,seckill_activity_id,
        SUM(quantity) AS quantity,
        SUM(expect_amount) AS expect_amount
        FROM seckill_registration_record
        WHERE
        1=1
        AND is_delete = 0
        AND pay_status = 1
        AND store_id = #{storeId}
        AND tenant_id = #{tenantId}
        <if test="type != null and type == 0 ">
            AND date_format(payment_time, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
        </if>
        AND seckill_activity_id = #{seckillActivityId}

        GROUP BY store_id,tenant_id,seckill_activity_id
    </select>
    
    <select id="getAllUserCountByTypeAndSeckillActivityId" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM
        client_event_record
        WHERE 1=1
        <if test="type != null and type == 0 ">
           AND content_type = 'registered'
        </if>
        <if test="type != null and type == 1 ">
            AND content_type != 'registered'
        </if>
        AND content_value = #{seckillActivityId}
        GROUP BY content_value
    </select>


    <select id="getBuyCountByTypeAndSeckillActivityId" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM seckill_registration_record a
        WHERE
        1=1
        AND a.is_delete = 0
        AND a.pay_status = 1
        AND a.seckill_activity_id = #{seckillActivityId}
        AND EXISTS (
            SELECT content_value FROM client_event_record b
            WHERE
            a.seckill_activity_id = b.content_value
            <if test="type != null and type == 0 ">
                AND b.content_type = 'registered'
            </if>
            <if test="type != null and type == 1 ">
                AND b.content_type != 'registered'
            </if>
        )
        GROUP BY a.seckill_activity_id
    </select>

    <select id="pageNoBuyBrowseList" resultMap="BaseResultMap">
        SELECT max(create_time) as create_time, customer_id, '1212121212121' as buyer_phone_number
        FROM client_event_record a
        WHERE
        1=1
        AND content_value = #{seckillActivityId}
        AND NOT EXISTS (
            SELECT b.customer_id
            FROM seckill_registration_record b
            WHERE a.content_value = b.seckill_activity_id
        )
        <if test="phone != null and phone != ''">
            AND buyer_phone_number like CONCAT('%',#{phone},'%')
        </if>
        GROUP BY customer_id,buyer_phone_number
    </select>
</mapper>
