<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuhu.store.saas.marketing.mysql.marketing.write.dao.SrvReservationOrderMapper" >
    <resultMap id="BaseResultMap" type="com.tuhu.store.saas.marketing.po.SrvReservationOrder" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="reservation_orde_no" property="reservationOrdeNo" jdbcType="VARCHAR" />
        <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
        <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
        <result column="customer_phone_number" property="customerPhoneNumber" jdbcType="VARCHAR" />
        <result column="estimated_arrive_time" property="estimatedArriveTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="CHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="source_channel" property="sourceChannel" jdbcType="VARCHAR" />
        <result column="store_id" property="storeId" jdbcType="BIGINT" />
        <result column="tenant_id" property="tenantId" jdbcType="BIGINT" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="is_delete" property="delete" jdbcType="BIT" />
        <result column="teminal" property="teminal" jdbcType="TINYINT" />
    </resultMap>

  <select id="getReservedPeriodListForCustomer" parameterType="Map" resultType="java.util.HashMap">
    select date_format(estimated_arrive_time, '%H:%i') as dayString
    from srv_reservation_order
    where date_format(estimated_arrive_time, '%Y-%m-%d') = #{dateString}
          and store_id=#{storeId}
          and status in('CONFIRMED','UNCONFIRMED')
          and customer_id=#{customerId}
  </select>

</mapper>