<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuhu.store.saas.marketing.mysql.marketing.write.dao.ValueCardChangeMapper">
    <resultMap id="BaseResultMap" type="com.tuhu.store.saas.marketing.dataobject.ValueCardChange">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="card_id" jdbcType="BIGINT" property="cardId"/>
        <result column="store_id" jdbcType="BIGINT" property="storeId"/>
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId"/>
        <result column="change_no" jdbcType="VARCHAR" property="changeNo"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="fin_no" jdbcType="VARCHAR" property="finNo"/>
        <result column="salesman_id" jdbcType="VARCHAR" property="salesmanId"/>
        <result column="salesman_name" jdbcType="VARCHAR" property="salesmanName"/>
        <result column="change_principal" jdbcType="DECIMAL" property="changePrincipal"/>
        <result column="change_present" jdbcType="DECIMAL" property="changePresent"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="change_type" jdbcType="INTEGER" property="changeType"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="VARCHAR" property="createUserId"/>
        <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">

            id, card_id, store_id, tenant_id, change_no, order_no, fin_no, salesman_id, salesman_name,
            change_principal, change_present, amount, change_type, `status`, create_time, update_time,
            remark, create_user_id, update_user_id, create_user_name, is_delete, order_id

    </sql>
    <select id="selectByExample" parameterType="com.tuhu.store.saas.marketing.dataobject.ValueCardChangeExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from value_card_change
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from value_card_change
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">

            delete from value_card_change
            where id = #{id,jdbcType=BIGINT}

    </delete>
    <delete id="deleteByExample" parameterType="com.tuhu.store.saas.marketing.dataobject.ValueCardChangeExample">
        delete from value_card_change
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.tuhu.store.saas.marketing.dataobject.ValueCardChange" useGeneratedKeys="true"
            keyProperty="id">

            insert into value_card_change (id, card_id, store_id,
              tenant_id, change_no, order_no,
              fin_no, salesman_id, salesman_name,
              change_principal, change_present, amount,
              change_type, `status`, create_time,
              update_time, remark, create_user_id,
              update_user_id, create_user_name, is_delete,
              order_id)
            values (#{id,jdbcType=BIGINT}, #{cardId,jdbcType=BIGINT}, #{storeId,jdbcType=BIGINT},
              #{tenantId,jdbcType=BIGINT}, #{changeNo,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR},
              #{finNo,jdbcType=VARCHAR}, #{salesmanId,jdbcType=VARCHAR}, #{salesmanName,jdbcType=VARCHAR},
              #{changePrincipal,jdbcType=DECIMAL}, #{changePresent,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL},
              #{changeType,jdbcType=INTEGER}, #{status,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP},
              #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR},
              #{updateUserId,jdbcType=VARCHAR}, #{createUserName,jdbcType=VARCHAR}, #{isDelete,jdbcType=BIT},
              #{orderId,jdbcType=VARCHAR})

    </insert>
    <insert id="insertSelective" parameterType="com.tuhu.store.saas.marketing.dataobject.ValueCardChange">
        insert into value_card_change
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cardId != null">
                card_id,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
            <if test="tenantId != null">
                tenant_id,
            </if>
            <if test="changeNo != null">
                change_no,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="finNo != null">
                fin_no,
            </if>
            <if test="salesmanId != null">
                salesman_id,
            </if>
            <if test="salesmanName != null">
                salesman_name,
            </if>
            <if test="changePrincipal != null">
                change_principal,
            </if>
            <if test="changePresent != null">
                change_present,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="changeType != null">
                change_type,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="createUserName != null">
                create_user_name,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="cardId != null">
                #{cardId,jdbcType=BIGINT},
            </if>
            <if test="storeId != null">
                #{storeId,jdbcType=BIGINT},
            </if>
            <if test="tenantId != null">
                #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="changeNo != null">
                #{changeNo,jdbcType=VARCHAR},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="finNo != null">
                #{finNo,jdbcType=VARCHAR},
            </if>
            <if test="salesmanId != null">
                #{salesmanId,jdbcType=VARCHAR},
            </if>
            <if test="salesmanName != null">
                #{salesmanName,jdbcType=VARCHAR},
            </if>
            <if test="changePrincipal != null">
                #{changePrincipal,jdbcType=DECIMAL},
            </if>
            <if test="changePresent != null">
                #{changePresent,jdbcType=DECIMAL},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="changeType != null">
                #{changeType,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUserName != null">
                #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.tuhu.store.saas.marketing.dataobject.ValueCardChangeExample"
            resultType="java.lang.Long">
        select count(*) from value_card_change
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update value_card_change
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.cardId != null">
                card_id = #{record.cardId,jdbcType=BIGINT},
            </if>
            <if test="record.storeId != null">
                store_id = #{record.storeId,jdbcType=BIGINT},
            </if>
            <if test="record.tenantId != null">
                tenant_id = #{record.tenantId,jdbcType=BIGINT},
            </if>
            <if test="record.changeNo != null">
                change_no = #{record.changeNo,jdbcType=VARCHAR},
            </if>
            <if test="record.orderNo != null">
                order_no = #{record.orderNo,jdbcType=VARCHAR},
            </if>
            <if test="record.finNo != null">
                fin_no = #{record.finNo,jdbcType=VARCHAR},
            </if>
            <if test="record.salesmanId != null">
                salesman_id = #{record.salesmanId,jdbcType=VARCHAR},
            </if>
            <if test="record.salesmanName != null">
                salesman_name = #{record.salesmanName,jdbcType=VARCHAR},
            </if>
            <if test="record.changePrincipal != null">
                change_principal = #{record.changePrincipal,jdbcType=DECIMAL},
            </if>
            <if test="record.changePresent != null">
                change_present = #{record.changePresent,jdbcType=DECIMAL},
            </if>
            <if test="record.amount != null">
                amount = #{record.amount,jdbcType=DECIMAL},
            </if>
            <if test="record.changeType != null">
                change_type = #{record.changeType,jdbcType=INTEGER},
            </if>
            <if test="record.status != null">
                `status` = #{record.status,jdbcType=BIT},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.remark != null">
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
            <if test="record.createUserId != null">
                create_user_id = #{record.createUserId,jdbcType=VARCHAR},
            </if>
            <if test="record.updateUserId != null">
                update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="record.createUserName != null">
                create_user_name = #{record.createUserName,jdbcType=VARCHAR},
            </if>
            <if test="record.isDelete != null">
                is_delete = #{record.isDelete,jdbcType=BIT},
            </if>
            <if test="record.orderId != null">
                order_id = #{record.orderId,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update value_card_change
        set id = #{record.id,jdbcType=BIGINT},
        card_id = #{record.cardId,jdbcType=BIGINT},
        store_id = #{record.storeId,jdbcType=BIGINT},
        tenant_id = #{record.tenantId,jdbcType=BIGINT},
        change_no = #{record.changeNo,jdbcType=VARCHAR},
        order_no = #{record.orderNo,jdbcType=VARCHAR},
        fin_no = #{record.finNo,jdbcType=VARCHAR},
        salesman_id = #{record.salesmanId,jdbcType=VARCHAR},
        salesman_name = #{record.salesmanName,jdbcType=VARCHAR},
        change_principal = #{record.changePrincipal,jdbcType=DECIMAL},
        change_present = #{record.changePresent,jdbcType=DECIMAL},
        amount = #{record.amount,jdbcType=DECIMAL},
        change_type = #{record.changeType,jdbcType=INTEGER},
        `status` = #{record.status,jdbcType=BIT},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        remark = #{record.remark,jdbcType=VARCHAR},
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
        is_delete = #{record.isDelete,jdbcType=BIT},
        order_id = #{record.orderId,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.tuhu.store.saas.marketing.dataobject.ValueCardChange">
        update value_card_change
        <set>
            <if test="cardId != null">
                card_id = #{cardId,jdbcType=BIGINT},
            </if>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=BIGINT},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="changeNo != null">
                change_no = #{changeNo,jdbcType=VARCHAR},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="finNo != null">
                fin_no = #{finNo,jdbcType=VARCHAR},
            </if>
            <if test="salesmanId != null">
                salesman_id = #{salesmanId,jdbcType=VARCHAR},
            </if>
            <if test="salesmanName != null">
                salesman_name = #{salesmanName,jdbcType=VARCHAR},
            </if>
            <if test="changePrincipal != null">
                change_principal = #{changePrincipal,jdbcType=DECIMAL},
            </if>
            <if test="changePresent != null">
                change_present = #{changePresent,jdbcType=DECIMAL},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="changeType != null">
                change_type = #{changeType,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUserName != null">
                create_user_name = #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BIT},
            </if>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tuhu.store.saas.marketing.dataobject.ValueCardChange">

            update value_card_change
            set card_id = #{cardId,jdbcType=BIGINT},
              store_id = #{storeId,jdbcType=BIGINT},
              tenant_id = #{tenantId,jdbcType=BIGINT},
              change_no = #{changeNo,jdbcType=VARCHAR},
              order_no = #{orderNo,jdbcType=VARCHAR},
              fin_no = #{finNo,jdbcType=VARCHAR},
              salesman_id = #{salesmanId,jdbcType=VARCHAR},
              salesman_name = #{salesmanName,jdbcType=VARCHAR},
              change_principal = #{changePrincipal,jdbcType=DECIMAL},
              change_present = #{changePresent,jdbcType=DECIMAL},
              amount = #{amount,jdbcType=DECIMAL},
              change_type = #{changeType,jdbcType=INTEGER},
              `status` = #{status,jdbcType=BIT},
              create_time = #{createTime,jdbcType=TIMESTAMP},
              update_time = #{updateTime,jdbcType=TIMESTAMP},
              remark = #{remark,jdbcType=VARCHAR},
              create_user_id = #{createUserId,jdbcType=VARCHAR},
              update_user_id = #{updateUserId,jdbcType=VARCHAR},
              create_user_name = #{createUserName,jdbcType=VARCHAR},
              is_delete = #{isDelete,jdbcType=BIT},
              order_id = #{orderId,jdbcType=VARCHAR}
            where id = #{id,jdbcType=BIGINT}

    </update>


    <select id="getFirstValueCardChangeList" parameterType="hashmap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        ,min(create_time) from value_card_change
        where change_type = 2 and  status = 1 and and  is_delete = 0
        and create_time <![CDATA[>=]]>  #{startTime,jdbcType=TIMESTAMP}
        and create_time <![CDATA[<=]]> #{endTime,jdbcType=TIMESTAMP}
        group by card_id ORDER BY create_time DESC
    </select>


    <select id="getValueCardChangeList" parameterType="hashmap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from value_card_change
        where change_type = 2 and  status = 1 and  is_delete = 0
        and create_time <![CDATA[>=]]>  #{startTime,jdbcType=TIMESTAMP}
        and create_time <![CDATA[<=]]> #{endTime,jdbcType=TIMESTAMP}
    </select>
</mapper>